# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
local_settings.py
media/
staticfiles/
images/

# SQLite
*.sqlite3

# OS
.DS_Store
Thumbs.db
